<!doctype html>
<!--[if lt IE 7]><html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if (IE 7)&!(IEMobile)]><html class="no-js lt-ie9 lt-ie8" lang="en"><![endif]-->
<!--[if (IE 8)&!(IEMobile)]><html class="no-js lt-ie9" lang="en"><![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"><!--<![endif]-->
<head>
{% include _head.html %}
</head>

<body class="home">

{% include _browser-upgrade.html %}

{% include _navigation.html %}

<div id="main" role="main">
  <div class="article-author-side">
    {% include _author-bio.html %}
	  <br />
  </div>
	
  <div id="index">
  <h1>About Me</h1>  
          Dr. Xiu is an Assistant Professor with the Department of Automation, Shanghai University. Now, I am setting up the DELI Lab (Data Engineering and Learning Intelligence), and recruiting graduate students who have certain mathematical abilities.<br> 

	* 2019.06 - 2021.05, Peking University, Postdoctoral Research Associate 
	* 2021.05 - Present, Shanghai University, Assistant Professor 

 <p>
    <ul>
      <li>Statistical learning of structured sparsity: bounds for exact and stable recovery for models and solvers<br>
      Sparse structures of interest: sparse vector, low-rank matrix, block diagonal matrix and low-rank tensor<br>
      <img src="./images/fig_sparsity.png">
      </li>
      <li> Optimization for specific deep neural networks without back propagation; convex/nonconvex
optimization with/without constraints</li>
      <li>Applications of deep learning in computer vision</li>
    </ul>
    </p>
	  
	  
<div class="footer-wrap">
  <footer>
    {% include _footer.html %}
  </footer>
</div><!-- /.footer-wrap -->

{% include _scripts.html %}
         
</body>
</html>


